{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}
    Categories
{% endblock %}

{% block body %}

    <h5 id="listing-header"><strong>Listing Categories</strong></h5>
    
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'category_listings' category %}">{{ category }}</a></li>
        {% endfor %}
    </ul>

    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    
    <script src="{% static 'auctions/scripts.js' %}"></script>

{% endblock %}